:root {
    --primary-clr-yellow: hsl(47, 88%, 63%);
    
    --neutral-clr-white: hsl(0, 0%, 100%);
    --neutral-clr-grey: hsl(0, 0%, 50%);
    --neutral-clr-black: hsl(0, 0%, 7%);

    --fw-semi-bold: 600;
    --fw-extra-bold: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: var(--primary-clr-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: var(--neutral-clr-white);
    border-radius: 1.3rem;
    max-width: 400px;
    border: 1px solid var(--neutral-clr-black);
    box-shadow: 16px 16px var(--neutral-clr-black);
}

.card-content {
    margin: 1.5rem;
}

.content-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content .content-image img {
   border-radius: 0.8rem;
   margin-bottom: 0.6rem;
}

.learn {
    margin-top: 1rem;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 0.3rem;
    background-color: var(--primary-clr-yellow);
}

h5 {
   font-weight: var(--fw-extra-bold);
   text-align: center;
}

.publish {
   font-size: 0.9rem;
   margin-top: 1rem;
}

h2 {
    margin-top: 1rem;
    font-weight: var(--fw-extra-bold);
}

h2:hover {
    color: var(--primary-clr-yellow);
    cursor:pointer;
}

.para {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--neutral-clr-grey);
    line-height: 1.6rem;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
}

.flex-group img {
    width: 32px;
}

.flex-group p {
    font-weight: var(--fw-extra-bold);
    font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
    .card {
        box-shadow: 8px 8px var(--neutral-clr-black);
        max-width: 380px;
    }
}



